html {
  scroll-behavior: smooth;
}

* {
  font-family: "Montserrat";
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(/fonts/Montserrat-Bold.ttf);
}

a,
a:visited {
  color: #0b373a;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #20767c;
}

pre,
code {
  font-family: monospace;
  background-color: #f5f2f0;
  padding: 2px 4px;
}
