@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(/fonts/Montserrat-Bold.ttf);
}

pre,
code {
  max-width: 95vw !important;
  font-family: monospace !important;
  background-color: #f5f2f0 !important;
  font-size: 14px !important;
}

p > img {
  margin-block: 20px;
  max-width: 95vw;
}


@layer base {
  .text-shadow-link {
    text-shadow: 1px 1px 2px rgb(255 255 255 / 60%);
  }
}