@keyframes pulse {
  0% {
    background: #ffffff00;
  }
  100% {
    background: rgba(255, 255, 255, 0.89);
  }
}

.smallHeader {
  position: fixed;
  width: 100%;
  z-index: 999;
  animation: pulse 2s;
  height: 38px;
  animation-fill-mode: forwards;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header-anchor {
  color: white;
}

.social {
  a {
    padding: 10px;
  }
  a:hover {
    text-decoration: underline;
  }
  a:nth-child(1) {
    color: rgb(88, 146, 12);
  }
  a:nth-child(2) {
    color:rgb(55, 121, 151)
  }
  a:nth-child(3) {
    color:rgb(40, 172, 139)
  }
}